// color palette
$palette = {
  grayLightest : #F2F6F7,
  grayWhite    : #F2F6F7,
  grayLighter  : #DFE4E6,
  grayLight    : #B8BDBF,
  gray         : #919799,
  grayDark     : #6C7173,
  grayDarker   : #3B3F40,
  white        : #FFFFFF,
  red          : #E6175C,
  orange       : #F27F0C,
  yellow       : #FFD919,
  blueLight    : hsl(210, 87.7, 59.4),
  blue         : #1677D9,
  blueDark     : hsl(210, 90.5, 36.8),
  green        : #B9E617,
  greenDark    : #85A611,
  primaryLight  : #CAB6F2,
  primary       : #8962D9,
  primaryDark   : #6B5499,
  turquoise    : #50E3C2
  // todo
    // purpe chage to primary
}
$iconPalette = {
  gray-lighter  : #DFE4E6,
  gray-light    : #B8BDBF,
  gray          : #919799,
  gray-dark     : #6C7173,
  gray-darker   : #3B3F40,
  white         : #FFFFFF,
  red           : #E6175C,
  orange        : #F27F0C,
  yellow        : #FFD919,
  blue-light    : hsl(210, 87.7, 59.4),
  blue          : #1677D9,
  blue-dark     : hsl(210, 90.5, 36.8),
  green         : #B9E617,
  green-dark     : #85A611,
  primary-light  : #CAB6F2,
  primary        : #8962D9,
  primary-dark   : #6B5499,
  turquoise      : #50E3C2
}
// grayscale
$colorBasegray = #8d8d8d

$colorGrayLightest = #F2F6F7
$colorGrayLighter  = #DFE4E6
$colorGrayLight    = #B8BDBF
$colorGray         = #919799
$colorGrayDark     = #6C7173
$colorGrayDarker   = #3B3F40

$black-6  = rgba(0 0 0, .06)
$black-15 = rgba(0 0 0, .15)

// color lib
$white        = $palette.white

// Primary Color
// purple
$colorPrimaryLight       = $palette.primaryLight
$colorPrimary            = $palette.primary
$colorPrimaryDark        = $palette.primaryDark

// secondary Color
// Red
$colorSecondaryRed       = $palette.red
$colorSecondaryOrange    = $palette.orange
// Yellow
$colorSecondaryYellow    = $palette.yellow
// blue
$colorSecondaryBlueLight = $palette.blueLight
$colorSecondaryBlue      = $palette.blue
$colorSecondaryBlueDark  = $palette.blueDark
// green
$colorSecondaryGreen     = $palette.green


// background color gradient
$bgStart    = #d4d4d4
$bgEnd      = #ebebeb
$bgGradient = linear-gradient(to right, $bgStart, $bgEnd)
$bgGradient = #E6EBF0

$primaryIconBg = rgba(255,255,255,.80)
// Extending
$borderBox
  box-sizing: border-box

// file server URL
//$fileServerURL = '//157.122.99.72/statics'
$fileServerURL = 'src/'

// font size
$baseSize  = 14px
